body {
  background-color: #727b7b;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 640px;
  background-color: #e6d39a;
  border: 4px solid #f4f4ee;
}

header {
  background-image: url("/img/header-background.jpg");
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 640px;
  position: relative;
}

.header-text {
  position: absolute;
  top: 30px;
  bottom: 20px;
  left: 20px;
  color: #fcf8e3;
}
.header-text h1 {
  margin: 0;
  font-size: 35px;
  letter-spacing: 8px;
}

.header-text p {
  margin: 0;
  font-size: 11px;
  font-weight: lighter;
  color: #e2d179;
}

.content-wrapper {
  display: flex;
  top: 30px;
  bottom: 30px;
}

main {
  flex: 3;
  width: 480px;
  padding-left: 10px;
}

aside {
  flex: 1;
  background-color: #edc967;
  padding: 0;
  border-left: 1px dotted #8b7331;
}

h2 {
  color: #a0410d;
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 13px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}

.sidebar-header {
  background-color: #595a38;
  color: white;
  padding: 2px 15px 2px 2px;
  border: solid #3a3b22 1px;
  font-weight: bold;
  margin: 10px 10px 0px 10px;
  font-size: 14px;
}

.sidebar-section {
  padding: 10px 15px;
}

.sidebar-section h3 {
  font-size: 14px;
  color: #6d5a1e;
  margin-bottom: 10px;
}

aside ul {
  list-style: square;
  padding-left: 20px;
  margin: 0;
}

aside li {
  margin-bottom: 8px;
  font-size: 10px;
  color: #333;
}

aside a {
  color: #0000ee;
  text-decoration: underline;
}

footer {
  background-image: url("/img/footer.jpg");
  width: 640px;
  height: 70px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: bold;
}
.center {
  text-align: center;

  width: 640px;
}
